<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="blockchain-service"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%-5level) %clr(${serviceName}){cyan} %clr([%thread]){faint} %clr(%logger{36}){yellow} %clr(-){faint} %msg%n%wEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.kafka" level="DEBUG"/>
    <logger name="org.springframework.kafka" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.engine" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.flywaydb" level="WARN"/>
    <logger name="org.web3j.protocol.http.HttpService" level="WARN"/>
    <logger name="com.plataforma" level="${LOG_LEVEL_APP:-DEBUG}"/>

    <root level="${LOG_LEVEL_ROOT:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
