project_id                      = "tu-proyecto-gcp"
region                          = "us-central1"
zone                            = "us-central1-a"
cluster_name                    = "liken-gke"
namespace                       = "app"
artifact_registry_repository_id = "liken-platform"
bucket_name                     = "liken-documents-tu-sufijo"
node_machine_type               = "e2-standard-4"
storage_ksa_name                = "liken-storage-access"
storage_gsa_account_id          = "liken-storage-access"
